---
---

// Breakpoints
$large-breakpoint: 64em;
$medium-breakpoint: 42em;

// Headers
$header-heading-color: #fff !default;
$header-bg-color: #003366 !default; // Deep navy blue
$header-bg-color-secondary: #006699 !default; // Teal blue

// Text
$section-headings-color: #008060 !default; // Deep green
$body-text-color: #4a4a4a !default; // Dark gray
$body-link-color: #0056b3 !default; // Medium blue
$blockquote-text-color: #557a95 !default; // Muted steel blue

// Code
$code-bg-color: #f4f7f8 !default; // Light cool gray
$code-text-color: #333333 !default; // Black for code

// Borders
$border-color: #c4c4c4 !default; // Soft gray
$table-border-color: #e9ebec !default; // Light gray for tables
$hr-border-color: #e0e0e0 !default; // Very light gray

@import "{{ site.theme }}";

